@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #1f1e1e;
}

/* login */
.outter-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  width: 100vw;
  height: 100vh;
}
.login-page {
  //   border: 3px solid black;
  width: 400px;
  height: 280px;
  display: flex;

  font-size: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  span {
    color: #07fe20;
    font-weight: bold;
  }
  button {
    color: #07fe20;
    background-color: black;
    border: none;
    font-size: 20px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
  }
  input {
    border: 2px solid lightgrey;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px;
  }
  .login-title {
    display: flex;

    h3 {
      font-weight: lighter;
    }
  }
}

/* create account */
.outter-register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  width: 100vw;
  height: 100vh;
}
.register-page {
  //   border: 3px solid black;
  width: 400px;
  height: 280px;
  display: flex;

  font-size: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  span {
    color: #07fe20;
    font-weight: bold;
  }
  button {
    color: #07fe20;
    background-color: black;
    border: none;
    font-size: 20px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
  }
  input {
    border: 2px solid lightgrey;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px;
  }
  .register-title {
    display: flex;

    h3 {
      font-weight: lighter;
    }
  }
}

/* ChefDashboard */

.dashboard-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner-body {
    // border: 2px solid red;
    width: 70%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
  }
}

//left div

.left-div {
  width: 30%;
  //   border: 2px solid green;
  .img-div {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2d2d;
    img {
      width: 200px;
      height: 200px;
      border: 5px solid #07fe20;
    }
  }
  .chef-info {
    //   border: 2px solid red;

    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding-top: 10px;
    span {
      background-color: #2f2d2d;
      color: #f3ffef;
      text-align: left;
      border-bottom: 2px solid #07fe20;
      margin-bottom: 20px;
    }
    h3 {
      color: #07fe20;
      text-align: left;
    }
  }
}

// right div

.right-div {
  width: 70%;
  //   border: 2px solid blue;
  .name-div {
    // border: 2px solid red;
    color: white;
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;

    h1 {
      //   border: 2px solid red;
      width: 90%;
      text-align: left;
    }
    h2 {
      //   border: 2px solid red;
      width: 100%;
      text-align: left;
    }
  }
  .about-div {
    // border: 2px solid red;
    background-color: #2f2d2d;
    width: 90%;
    padding: 10px;
    margin-left: 2%;
    margin-top: 4%;

    h2 {
      color: #07fe20;
    }
    p {
      color: #f3ffef;
      font-size: 20px;
    }
  }
}
//changes to styling made by SORAIA
// .recipes-div {
//   margin-top: 15%;
//   height: 80%;

//   h3 {
//     color: #07fe20;
//     text-align: left;
//   }
// }

.recipes-div {
  margin-top: 15%;
  height: 80%;
  text-align: left;
  margin-left: 2%;
  color: #07fe20;

  span {
    font-size: 1.5rem;

    a {
      color: white;
    }
  }
}

//create-recipe form
.title {
  text-align: left;
  color: white;
  margin: 20px;
}

.add-form {
  // border: 2px solid red;
  // width: 60%;
  h2 {
    color: #07fe20;

    i {
      margin: 5px;
    }
  }

  // border: 2px solid red;
  color: white;
  margin: 20px;
  text-align: left;

  form {
    width: 60%;

    span {
      display: flex;

      p {
        width: 100px;
      }

      input {
        margin: 15px;
        width: 200px;
      }

      .type,
      .name,
      .theme {
        width: 400px;
      }
    }
  }

  h2 {
    color: #07fe20;

    i {
      margin: 5px;
    }
  }

  textarea {
    margin-left: 0;
    // width: 100%;
  }

  .ingredients {
    // height: 400px;
  }

  .directions {
    // height: 300px;
  }

  .notes {
    height: 200px;
  }

  .bottom-text {
    color: #07fe20;
  }

  button {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    color: white;
    background-color: transparent;
    font-size: 1.5rem;
    // font-weight: bold;
    border: 2px solid #07fe20;
  }
}

/*Edit Info*/
.info-div {
  // border: 2px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: #07fe20;

    border-bottom: 3px solid #2f2d2d;
  }
}
.info-form {
  display: flex;
  flex-direction: column;
  // border: 2px solid red;
  width: 300px;
  height: 360px;

  .info-labels {
    color: #07fe20;
    text-align: left;
  }
  .info-inputs {
    margin-bottom: 20px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #07fe20;
    color: #f3ffef;
  }
}
.info-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  .info-button {
    color: #07fe20;
    border: 3px solid #2f2d2d;
    background-color: transparent;
    font-size: 22px;
    width: 60%;
  }
}

/*About Info*/
.about-edit-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: #07fe20;

    border-bottom: 3px solid #2f2d2d;
  }
  .about-form {
    width: 50%;
    height: 40%;
    // background-color: #2f2d2d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // .about-label {
    //   color: #07fe20;
    //   font-size: 24px;
    // }
    .about-button {
      color: #07fe20;
      border: 3px solid #2f2d2d;
      background-color: transparent;
      font-size: 22px;
      margin-top: 3%;
    }
    textarea::placeholder {
      font-size: 20px;
    }
  }
}
/*Profile Picture*/
.profile-pic-div {
  // border: 2px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: #07fe20;
    border-bottom: 3px solid #2f2d2d;
  }
  img {
    background-color: #2f2d2d;
    border: 5px solid #07fe20;
    width: 250px;
    height: 250px;
    margin-bottom: 10%;
  }
  .profile-pic-form {
    // border: 2px solid #2f2d2d;
    width: 60%;
    padding: 12px;
  }
  .profile-pic-input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #07fe20;
    font-size: 20px;
    color: #f3ffef;
  }
  .profile-pic-input::placeholder {
    font-size: 20px;
  }
  .profile-pic-button {
    color: #07fe20;
    border: 3px solid #2f2d2d;
    background-color: transparent;
    font-size: 22px;
    margin-top: 3%;
  }
}

/*Logo*/
.logo {
  color: #07fe20;
}

/*Footer*/
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .link-item {
    color: #fff;
    text-decoration: none;
    margin: 20px;
  }
}

// Social Media
.footer-social-links {
  margin-top: 20px;
  img {
    margin: 0 20px;
  }
  p {
    color: silver;
  }
}

/*GuestDashboard*/
.dashboard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .dashboard-card {
    width: 400px;
    margin: 50px;
    background-color: #07fe20;
    color: #000;
    text-align: left;
    border-radius: 5px;

    h3 {
      margin-left: 15px;
    }

    p {
      margin-left: 15px;
    }

    img {
      width: 100%;
      height: 250px;
    }
  }
}
/* Jacob Bremer Styles */

/* Nav */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  div {
    display: flex;
    justify-content: space-around;
    div {
      margin: 0 20px;
    }
  }
  h1 {
    font-size: 150%;
    span {
      color: #07fe20;
    }
  }
  a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #1f1e1e;
    padding: 5px;
    &:hover {
      border-bottom: 1px solid #07fe20;
    }
  }
  .sign-in-nav-button {
    padding: 2px 25px;
    background-color: #07fe20;
    border-radius: 8px;
    font-weight: 800;
    a {
      color: black;
      border-bottom: 1px solid #07fe20;
      &:hover {
        color: white;
      }
    }
  }
}

// Recipe pages

.chef-recipe-div {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  h2,
  h3 {
    color: #07fe20;
  }
  p {
    color: white;
  }
  .edit-recipe-button {
    color: #07fe20;
    border: 3px solid #2f2d2d;
    background-color: transparent;
    font-size: 22px;
    width: 8%;
    margin-right: 15px;
  }
  .delete-recipe-button {
    color: #07fe20;
    border: 3px solid #2f2d2d;
    background-color: transparent;
    font-size: 22px;
    width: 8%;
  }
}

.recipe-image {
  width: 400px;
  height: 400px;
  border: 5px solid #07fe20;
}
