@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1f1e1e;
}

/* login */
.outter-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  width: 100vw;
  height: 100vh;
}
.login-page {
  //   border: 3px solid black;
  width: 400px;
  height: 280px;
  display: flex;

  font-size: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  span {
    color: #07fe20;
    font-weight: bold;
  }
  button {
    color: #07fe20;
    background-color: black;
    border: none;
    font-size: 20px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
  }
  input {
    border: 2px solid lightgrey;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px;
  }
  .login-title {
    display: flex;

    h3 {
      font-weight: lighter;
    }
  }
}

/* create account */
.outter-register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  width: 100vw;
  height: 100vh;
}
.register-page {
  //   border: 3px solid black;
  width: 400px;
  height: 280px;
  display: flex;

  font-size: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  span {
    color: #07fe20;
    font-weight: bold;
  }
  button {
    color: #07fe20;
    background-color: black;
    border: none;
    font-size: 20px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
  }
  input {
    border: 2px solid lightgrey;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px;
  }
  .register-title {
    display: flex;

    h3 {
      font-weight: lighter;
    }
  }
}

/* ChefDashboard */

.dashboard-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner-body {
    // border: 2px solid red;
    width: 70%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
  }
}

//left div

.left-div {
  width: 30%;
  //   border: 2px solid green;
  .img-div {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2d2d;
    @media (max-width: 1124px) {
      height: 25%;
    }
    @media (max-width: 825px) {
      height: 18%;
    }
    @media (max-width: 600px) {
      height: 14%;
    }
    img {
      width: 200px;
      height: 200px;
      border: 5px solid #07fe20;
      @media (max-width: 1124px) {
        width: 150px;
        height: 150px;
      }
      @media (max-width: 825px) {
        width: 100px;
        height: 100px;
      }
      @media (max-width: 600px) {
        width: 70px;
        height: 70px;
      }
    }
  }

  .chef-info {
    //   border: 2px solid red;

    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding-top: 10px;
    span {
      background-color: #2f2d2d;
      color: #f3ffef;
      text-align: left;
      border-bottom: 2px solid #07fe20;
      margin-bottom: 20px;

      @media (max-width: 1124px) {
        width: 140%;
      }
      @media (max-width: 900px) {
        width: 160%;
      }
      @media (max-width: 800px) {
        font-size: 15px;
        width: 190%;
      }
      @media (max-width: 600px) {
        font-size: 14px;
        width: 230%;
      }
    }
    h3 {
      color: #07fe20;
      text-align: left;
      @media (max-width: 1124px) {
        font-size: 17px;
        width: 130%;
      }
      @media (max-width: 825px) {
        width: 170%;
      }
      @media (max-width: 600px) {
        width: 220%;
      }
    }
  }
}

//icons
#iconAbout {
  color: white;
  font-size: 20px;
  @media (max-width: 800px) {
    font-size: 16px;
  }
}
#iconInfo {
  color: white;
  @media (max-width: 800px) {
    font-size: 16px;
  }
}
#iconImg {
  color: white;
  font-size: 20px;
  @media (max-width: 800px) {
    font-size: 14px;
  }
  @media (max-width: 800px) {
    font-size: 12px;
  }
}
// right div
.right-div {
  width: 70%;
  //   border: 2px solid blue;
  .name-div {
    // border: 2px solid red;
    color: white;
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    @media (max-width: 800px) {
      margin-left: 10%;
    }

    h1 {
      //   border: 2px solid red;
      width: 90%;
      text-align: left;
      @media (max-width: 800px) {
        font-size: 22px;
      }
    }
    h2 {
      //   border: 2px solid red;
      width: 100%;
      text-align: left;
      @media (max-width: 800px) {
        font-size: 22px;
      }
    }
  }
  .about-div {
    // border: 2px solid red;
    background-color: #2f2d2d;
    width: 90%;
    padding: 10px;
    margin-left: 2%;
    margin-top: 4%;
    @media (max-width: 800px) {
      margin-left: 10%;
    }
    @media (max-width: 600px) {
      margin-left: 20%;
    }

    h2 {
      color: #07fe20;
      @media (max-width: 800px) {
        font-size: 20px;
      }
    }
    p {
      color: #f3ffef;
      font-size: 20px;
      @media (max-width: 800px) {
        font-size: 16px;
      }
      i {
        @media (max-width: 800px) {
          font-size: 10px;
        }
      }
    }
  }
}
//changes to styling made by SORAIA
// .recipes-div {
//   margin-top: 15%;
//   height: 80%;

//   h3 {
//     color: #07fe20;
//     text-align: left;
//   }
// }

.recipes-div {
  margin-top: 15%;
  height: 80%;
  text-align: left;
  margin-left: 2%;
  color: #07fe20;
  @media (max-width: 800px) {
    margin-left: 10%;
  }
  @media (max-width: 600px) {
    margin-left: 20%;
  }

  span {
    font-size: 1.5rem;

    a {
      color: white;
    }
  }
}

//Img card on Chef Dashboard styles
.recipecard {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 5%;
  @media (max-width: 1470px) {
    width: 160px;
    height: 160px;
  }
  @media (max-width: 800px) {
    width: 130px;
    height: 130px;
  }
  @media (max-width: 660px) {
    width: 110px;
    height: 110px;
  }
  @media (max-width: 600px) {
    width: 90px;
    height: 90px;
  }
  @media (max-width: 512px) {
    width: 75px;
    height: 75px;
  }
}

//create-recipe form
.title {
  text-align: left;
  color: white;
  margin: 20px;
}

.add-form {
  // border: 2px solid red;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1000px) {
    width: 80%;
  }

  @media (max-width: 500px) {
    width: 100%;
    margin: 20px 10px;
  }
  h2 {
    color: #07fe20;

    i {
      margin: 5px;
    }
  }

  // border: 2px solid red;
  color: white;
  margin: 20px;
  text-align: left;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    span {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (max-width: 1000px) {
        flex-direction: column;
        text-align: left;
      }

      // p {
      //   width: 100px;
      // }

      input {
        margin: 10px 0;
        width: 200px;
        border-radius: 3px;
        border: none;
        padding: 5px;

        @media (max-width: 1000px) {
          width: 450px;
        }
      }

      .type,
      .name,
      .theme {
        width: 400px;
        @media (max-width: 1000px) {
          width: 450px;
        }
      }
    }
  }

  .create-recipe-textarea {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  h2 {
    color: #07fe20;

    i {
      margin: 5px;
    }
  }

  textarea {
    margin-left: 0;
    border-radius: 3px;
    border: none;
    // width: 100%;
  }

  .ingredients {
    // height: 400px;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  .directions {
    // height: 300px;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  .notes {
    height: 200px;
  }

  .bottom-text {
    color: #07fe20;
  }

  button {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    color: white;
    background-color: transparent;
    font-size: 1.5rem;
    // font-weight: bold;
    border: 2px solid #07fe20;
  }
}

/*Edit Info*/
.info-div {
  // border: 2px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: #07fe20;

    border-bottom: 3px solid #2f2d2d;
  }
}
.info-form {
  display: flex;
  flex-direction: column;
  // border: 2px solid red;
  width: 300px;
  height: 360px;

  .info-labels {
    color: #07fe20;
    text-align: left;
  }
  .info-inputs {
    margin-bottom: 20px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #07fe20;
    color: #f3ffef;
  }
}
.info-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  .info-button {
    color: #07fe20;
    border: 3px solid #2f2d2d;
    background-color: transparent;
    font-size: 22px;
    width: 60%;
  }
}

/*About Info*/
.about-edit-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: #07fe20;

    border-bottom: 3px solid #2f2d2d;
  }
  .about-form {
    width: 50%;
    height: 40%;
    // background-color: #2f2d2d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // .about-label {
    //   color: #07fe20;
    //   font-size: 24px;
    // }
    .about-button {
      color: #07fe20;
      border: 3px solid #2f2d2d;
      background-color: transparent;
      font-size: 22px;
      margin-top: 3%;
    }
    textarea::placeholder {
      font-size: 20px;
    }
  }
}
/*Profile Picture*/
.profile-pic-div {
  // border: 2px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: #07fe20;
    border-bottom: 3px solid #2f2d2d;
  }
  img {
    background-color: #2f2d2d;
    border: 5px solid #07fe20;
    width: 250px;
    height: 250px;
    margin-bottom: 10%;
  }
  .profile-pic-form {
    // border: 2px solid #2f2d2d;
    width: 60%;
    padding: 12px;
  }
  .profile-pic-input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #07fe20;
    font-size: 20px;
    color: #f3ffef;
  }
  .profile-pic-input::placeholder {
    font-size: 20px;
  }
  .profile-pic-button {
    color: #07fe20;
    border: 3px solid #2f2d2d;
    background-color: transparent;
    font-size: 22px;
    margin-top: 3%;
  }
}

/* Jadon G. Styling */

/* Create Recipe */
.create-recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Logo*/
.logo {
  color: #07fe20;
}

/*Footer*/
html,
body {
  height: 100%;
  position: relative;
}

.App {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 250px;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .link-item {
    color: #fff;
    text-decoration: none;
    margin: 20px;
  }
}

// Social Media
.footer-social-links {
  margin-top: 20px;
  img {
    margin: 0 20px;
  }
  p {
    color: silver;
  }
}

/*GuestDashboard*/
.dashboard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .dashboard-card {
    width: 400px;
    margin: 50px;
    background-color: #07fe20;
    color: #000;
    text-align: left;
    border-radius: 5px;

    h3 {
      margin-left: 15px;
    }

    p {
      margin-left: 15px;
    }

    img {
      width: 100%;
      height: 250px;
    }
  }
}
/* Jacob Bremer Styles */

/* Nav */

$break-mobile: 500px;

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  div {
    display: flex;
    justify-content: space-around;
    div {
      margin: 0 10px;
    }
  }
  h1 {
    font-size: 150%;
    span {
      color: #07fe20;
    }
  }
  a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #1f1e1e;
    padding: 5px;
    &:hover {
      border-bottom: 1px solid #07fe20;
    }
  }
  .sign-in-nav-button {
    padding: 2px 25px;
    background-color: #07fe20;
    border-radius: 8px;
    font-weight: 800;
    a {
      color: black;
      border-bottom: 1px solid #07fe20;
      &:hover {
        color: white;
      }
    }
  }
}

// Recipe pages

.chef-recipe-div {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  h2,
  h3 {
    color: #07fe20;
  }
  p {
    color: white;
  }
  .recipe-buttons-div {
    width: 100%;
  }

  .edit-recipe-button {
    color: #07fe20;
    border: 3px solid #2f2d2d;
    background-color: transparent;
    font-size: 22px;
    width: 20%;
    margin-right: 15px;
  }
  .delete-recipe-button {
    color: #07fe20;
    border: 3px solid #2f2d2d;
    background-color: transparent;
    font-size: 22px;
    width: 20%;
  }
}

.recipe-image {
  width: 400px;
  height: 400px;
  border: 5px solid #07fe20;
}

@media (max-width: 800px) {
  nav {
    font-size: 20px;
    flex-direction: column;
  }
  nav div {
    font-size: 20px;
    flex-direction: column;
  }
 .sign-in-nav-button {
   margin: 10px 10px;
   padding: 2px 10px;
 }
}
